@CHARSET "UTF-8";
body{
	background:#444444;
	overflow-y:hidden;
}
.nopadding{padding:0px !important;}
#main-head{
	height:77px;
	width:100%;
	position:fixed;
	box-shadow: 0 1px 0 #333333;
	background-color: #333333;/* Old browsers */
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#3F3F3F), to(#222222));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #3F3F3F 0%, #222222 100%);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #3F3F3F 0%, #222222 100%);/* FF3.6+ */
	background-image: -ms-linear-gradient(top, #3F3F3F 0%, #222222 100%);/* IE10+ */
	background-image: -o-linear-gradient(top, #3F3F3F 0%, #222222 100%);/* Opera 11.10+ */
	background-image: linear-gradient(top, #3F3F3F 0%, #222222 100%);/* W3C */
    border-bottom: 1px solid #555555;
}
#main-left{width:220px;position:fixed;left:0px;margin-top:38px;}
#main-container{
	background: none repeat scroll 0 0 #eeeeee;
    margin-left: 220px;
    margin-right: 0;
    margin-top:-38px;
    padding-bottom: 25px;
    position: relative;
    min-height: 500px;
    width: auto;
    border-top-left-radius: 8px;
}
#sidebar {
	border-top: 1px solid #393939;
	border-bottom: 1px solid #4E4E4E;
}
#sidebar > li {
	border-top: 1px solid #4E4E4E;
	border-bottom: 1px solid #393939;
}
#sidebar > li.active {
    background-color: #3a3a3a;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#333333), to(#3F3F3F));
	background-image: -webkit-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -ms-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #3F3F3F 100%);
	background-image: linear-gradient(top, #333333 0%, #3F3F3F 100%);
}

#sidebar > li.open.submenu > a {
	border-bottom: 1px solid #393939;
}
#sidebar > li.open.active.submenu > a {
	border-bottom: 1px solid #2A2A2A;
}
#sidebar > li > a > .label {
	background-color: #333333;
}
#sidebar > li > a:hover {
	background-color: #4A4A4A;
}
#sidebar ul {
	border-top: 1px solid #4E4E4E;
	background-color: #2A2A2A;
}
#sidebar ul li a {
	border-top: 1px solid #333333;
	border-bottom: 1px solid #202020;
}
#sidebar ul li a:hover, #sidebar ul li.active a {
	color: #CCCCCC;
	background-color: #272727;
}
#sidebar{
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	position: absolute;
	width: 220px;
}
#sidebar > li {
	display: block;	
	position: relative;
}

#sidebar > li.active {
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset;
}

#sidebar > li > a {
	padding: 10px 0 10px 15px;
	display: block;
	color: #AAAAAA;
}

#sidebar > li > a > i {
	margin-right: 10px;
}

#sidebar > li.active > a {
	background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
}

#sidebar > li > a > .label {
	margin: 0 20px 0 0;
	float: right;
	padding: 3px 5px 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}

#sidebar ul {
	display: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 3px rgba(0,0,0,0.5) inset;
}
#sidebar li.open ul {
	display: block;
}
#sidebar ul li a{
	padding: 10px 0 10px 25px;
	display: block;
	color: #777777;
}

#sidebar ul li:first-child a {
	border-top: 0;
}
#sidebar ul li:last-child a {
	border-bottom: 0;
}

.panel-tree{overflow:visible;}
.panel-tree .panel-body{padding:0px;margin-top:-1px;border:none;overflow:visible;}
.panel-tree .panel-body li{position:relative;}
.panel-tree .tree-node{height:42px;padding:10px 15px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-bottom:-1px;}
.panel-tree .tree-node .tree-title{font-size:14px;line-height:20px;color:#555;}
.panel-tree .tree-node-selected{background-color:#eee;}
.panel-tree .panel-body .tree-node .btn-group{display:none;position:absolute;top:4px;right:15px;}
.panel-tree .panel-body .tree-node-hover .btn-group{display:block;}
.panel-tree .panel-body .tree-node-hover .btn-group .dropdown-menu{right:0px;left:auto;}

.panel.datagrid, .datagrid-wrap.panel-body{padding:0px;}
.panel.datagrid{margin-bottom:0px;}

.datagrid-header td{padding:6px;}
.datagrid-body td{padding:10px 6px;}



#freight-template-wrapper th{
	width:130px;
}
#freight-template-wrapper th, #freight-template-wrapper td{
	padding: 4px 0px;
}
#freight-template-wrapper input{width:100px;}