.product-item:hover{
	-webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    cursor:pointer;
    box-shadow: 2px -3px 30px 5px #888;
}
.product-item > a > img{
	width:201px;height:200px;
}

.list-group .expand .category-children .list-group-item{
	padding-left:30px;
}
.expand.category-wrapper:first-child .category-children .list-group-item:first-child,
.expand.category-wrapper:last-child .category-children .list-group-item:last-child{
	border-radius:0px;
}
.list-group .expand .category-children .list-group-item:last-child{
	margin-bottom:-1px;
}
.category-list .list-group-item{
	border-radius:0px;
}
.category-list .category-wrapper:first-child .list-group-item:first-child, .hide-children .category-children .list-group-item:first-child{
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.category-list .category-wrapper:last-child .list-group-item:last-child, .hide-children .category-children .list-group-item:last-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.category-list .hide-children{
	position:relative;
}
.category-list .hide-children .category-children{
	position:absolute;
	left:262px;
	top:0px;
	width:100%;
	z-index:10;
} 
.category-list .hide-children:hover .category-children{
	display:block;
}

.product-wrapper{
	padding-left:4px;
	padding-right:4px;
}

.image-slider{
	position:relative;
	height:84px;
	margin-top:10px;
}
.img-slider-list{
	overflow:hidden;
	margin-left:30px;
	margin-right:30px;
}
.img-slider-list ul{
	padding-left:0px;
}
.img-slider-list ul li img{
	width:100%;
}
.pic-slider-down, .pic-slider-up{
	position:absolute;
	display:block;
	width:27px;
	height:79px;
}
.pic-slider-down:hover, .pic-slider-up:hover{
	cursor:pointer;
}
.pic-slider-down{
	right:0px;
	top:0px;
}
.pic-slider-down .arrow-out, .pic-slider-up .arrow-out{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-13px;
	height:0px;
	width:0px;
	border-top:13px solid #f5f5f5;
	border-bottom:13px solid #f5f5f5;
}
.pic-slider-down .arrow-in, .pic-slider-up .arrow-in{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-11px;
	height:0px;
	width:0px;
	border-top:11px solid transparent;
	border-bottom:11px solid transparent;
}
.pic-slider-up .arrow-out{
	border-right:12px solid #000;
	margin-left:-7px;
}
.pic-slider-up .arrow-in{
	border-right:10px solid #f5f5f5;
	margin-left:5px;
}
.pic-slider-down .arrow-out{
	border-left:12px solid #000;
	margin-left:-5px;
}
.pic-slider-down .arrow-in{
	border-left:10px solid #f5f5f5;
	margin-left:-15px;
}
.image-slider ul{
	width:1000px;
	list-style:none;
	list-style-type:none;
}
.image-slider ul li{
	cursor: pointer;
	display: inline-block;
	width: 67px;
	background-size: 60px;
	background-position: center;
	background-repeat: no-repeat;
	border-width: 2px;
	border-style: solid;
	border-color: #f6f6f6;
	padding:1px;
	margin-top:7px;
	position:relative;
}
.image-slider ul li.active{
	border:2px solid #FE9B0A;
}
.image-slider ul li.active:after{
	content: '';
	display:block;
	position:absolute;
	width:0px;
	height:0px;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #FE9B0A;
	top:-7px;
	left:50%;
	margin-left:-4px;
}
.image-slider .image-slider-list{
	width: 320px;
	position: absolute;
	left: 30px;
	overflow: hidden;
}
.sku-name{
	margin-left:12px;
}
.sku-props{
	width:100%;
}
.sku-props th, .sku-props td{
	padding: 6px 12px;
}
.sku-props th{
	width: 150px;
}
.sku-props .btn-contant, .sku-props .btn-addcart{
	margin-top:10px;
	margin-bottom:30px;
}
#quantity{
	width:40px;
	padding-left:6px;
	padding-right:6px;
	text-align:center;
}
.quantity-input-group{
	width:107px;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group{
	margin-right:-2px;
}
.center{
	text-align:center;
}

.product-tabs .nav-tabs li{
	margin-right:5px;
}
.product-tabs .nav-tabs li a{
	border-radius:0;
	background:#f5f5f5;
	border:1px solid #ddd;
	margin-right:0px;
	color:#666;
	font-weight:700;
}
.product-tabs .nav-tabs li.active{
	border-top: 2px solid #1996e6;
}
.product-tabs .nav-tabs li.active a{
	background:#fff;
	border-top:0px;
	border-bottom:0px;
}

#product-details img{
	max-width:100%;
}
#jq-zoom{
	width:100%;
}
#big-image:after{
	content: "";
	display:block;
	clear:both;
}
.relate-item{
	margin-bottom:40px;
}
.relate-item:last-child{
	margin-bottom:0px;
}

.category-children{
	display:none;
}
.expand .category-children{
	display:block;
}


.input-group-addon.captcha {
	width: 90px;
	padding: 0px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#error-wrapper{
	display:none;
	margin-bottom:0px;
	padding:6px 18px;
	border-left:32px solid #9cd096;
}