@CHARSET "UTF-8";
#header{height:85px;}

.clear:after{content:'';display:block;clear:both;}

body{background:#f6f6f6;}

.header-nav-tools{list-style:none;list-style-type:none;padding-left:0px;float:right;padding: 5px 15px 0 0;}

.navigation{list-style:none;list-style-type:none;}
.navigation:after{content:'';display:block;clear:both;}
.navigation li{float:left;height:40px;}
.navigation li.cur{background-color:#f8285c;}
.navigation li a{display:block;width:104px;font-size:14px;line-height:40px;color:#fff;text-align:center;}

.main-nav{background-color:#2a142b;}

.category-nav ul{list-style:none;list-style-type:none;}
.category-nav ul li{float:left;margin-left:120px;}
.category-nav ul li a span{display:block;height:75px;width:70px;background:url('http://s.juancdn.com/juanpi/images/zhe/zhe_icons.png') no-repeat;background-position:0 0;}
.category-nav ul li a:hover span{background-position:0 -75px;}
.category-nav ul li.cur a span{background-position:0 -150px;}
.category-nav ul li .category-name{width:70px;height:20px;text-align:center;margin-top:10px;}
.category-nav ul li.cur .category-name{background-color:#f8285c;color:#fff;border-radius:10px;}
.category-nav ul li ul{float:right;margin-top:20px;margin-left:80px;padding-left:0px;}
.category-nav ul li ul li{float:left;width:60px;margin:0 0 10px 0;text-align:center;}
.category-nav ul li ul li.cur{background-color:#f8285c;color:#fff;border-radius:10px;}
.category-nav ul li ul li a{display:block;width:60px;height:20px;}

#main{width:1220px;margin:20px auto;}

.product-list{width:1220px;}
.product-item{width:285px;background:#FFF;float:left;margin:0 18px 18px 0;border:#f6f6f6 solid 1px;}
.product-item .list-good{position:relative;width:285px;height:auto;z-index:1;}
.product-item .pic-img{height: 285px;overflow: hidden;text-align: center;width: 285px;display: table-cell;vertical-align: middle;}
.product-item .new-icon{background: url(../images/list/new.png) no-repeat 0 0;height: 0;overflow: hidden;padding-top: 37px;width: 37px;position: absolute;top: 0;left: 0;z-index: 15;}
.product-item .good-title{font-size:13px;width: 270px;height: 18px;line-height: 18px;overflow: hidden;margin: 10px 10px 10px 5px;position: relative;font-weight: normal;color: #333;}
.product-item .good-title span.sold{display: block;color: #bbb;position: absolute;top: 0;right: 0;background: #fff;width: 60px;height: 18px;text-align: right;}
.product-item .good-price{width:280px;height: 48px;line-height: 40px;position: relative;padding: 0 10px 0px 5px;background: #fff;z-index: 10;}
.product-item .list-good.buy .good-price .price-current{#ff3366;}
.product-item .good-price .btn{padding:0px;}
.product-item .good-price .price-current{font-size: 40px;font-family: Arial;float:left;color:#ff3366;}
.product-item .good-price .price-current em{font-size: 14px;font-family: "微软雅黑","verdana";vertical-align: 1px;margin-left: 1px;}
.product-item .good-price .des-other{margin: 2px 0 0 5px;height: 40px;line-height: 18px;display:block;float:left;}
.product-item .good-price .des-other strong{width: auto;height: 16px;display: block;}
.product-item .good-price .des-other .price-old{color: #bbb;text-decoration: line-through;font-size: 14px;}
.product-item .good-price .des-other .price-old em{font-family: "微软雅黑","verdana";font-size: 12px;}
.product-item .good-price .des-other .discount{color: #bbb;vertical-align: top;}
.product-item .good-price .btn.buy, .goods-list li .good-price .btn.gone{right: 0;}
.product-item .good-price .btn{position: absolute;top: 11px;right: 10px;}
.product-item .good-price .btn a{font-family: "宋体";display: block;text-align: center;font-size: 14px;cursor: pointer;color: #f8285c;width: 70px;height: 30px;line-height: 30px;overflow: hidden;}
.product-item .good-price .btn a .j-icon{background-position: right -54px;}
.product-item .good-price .btn a em{display: inline;float: left;width: 15px;height: 15px;margin: 8px -4px 0 12px;margin: 7px -4px 0 12px \9;_margin: 7px -4px 0 12px;vertical-align: -2px;background: url(http://s.juancdn.com/juanpi/images/list/list-total.png) no-repeat;}
.product-item .my-like{display: none;width: 26px;height: 26px;border: 1px solid #f4f4f4;background: #f4f4f4;border-radius: 15px;position: absolute;top: 10px;right: 10px;cursor: pointer;z-index: 15;}
.product-item .my-like .like-ico{background-position: 0 0;margin-top: -5px;margin-left: -7px;}
.product-item .my-like i{background-position: -26px 0;width: 14px;height: 11px;position: absolute;top: 50%;left: 50%;background: url(http://s.juancdn.com/juanpi/images/list/my-like.png) no-repeat;_background: url(http://s.juancdn.com/juanpi/images/list/my-like.gif) no-repeat;}
.product-item .new-icon{background: url(http://s.juancdn.com/juanpi/images/list/new.png) no-repeat 0 0;height: 0;overflow: hidden;padding-top: 37px;width: 37px;position: absolute;top: 0;left: 0;z-index: 15;}
.my-like:hover .like-ico{background-position:0 -72px;}
.my-like:hover .like-ico.l-active{background-position:0 -89px;}
.product-item:hover{border:#ebebeb solid 1px;}
.product-item:hover .my-like{display:block;}
.pic-img img{max-width:285px;max-height:285px;}

.page {
    padding: 0 0 45px;
	padding-top:30px;
	*margin-top:50px;
    _margin-top:50px;
    clear: both;
    overflow: hidden;
    text-align: center;
}
.page div{margin: 0 auto;}

.page a,.page span,.page i{
	display:inline-block;
	/*float:left;*/
	background: none repeat scroll 0 0 #FFF;
	margin-left:1px;
    padding:10px 15px;
    overflow: hidden;
    color:#919191;
	font-size:14px;
	font-weight:bold;
	border-right:none;
	-moz-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
	-webkit-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
	box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
}
.page a.pg-next{border-radius:0 20px 20px 0;}
.page a.pg-next:hover{cursor:pointer;}
.page span.pg-prev{color:#bbb; font-weight:normal; background:#fff; border-radius: 20px 0 0 20px;}
.page span.pg-next{ border-radius:0 20px 20px 0; background:#fff;  color:#bbb; font-weight:normal;}
.page a.pg-prev{background:#FFFFFF; border-radius: 20px 0 0 20px;}
.page span {
    background: #ff3366;
	border: medium none;
	color: #fff;
	font-weight: bold;
}

.page a:hover{
	text-decoration:none;
	color:#fff;
	background:#ff3366;
}

.page i{
    color: #919191
}


.detail-main{}
.img-wrapper{width:480px;float:left;}
.img-wrapper .big-img{width:380px;margin:0 auto;}
.img-wrapper .big-img #jq-zoom{width:100%;}
.img-wrapper .img-slider{width:380px;height:81px;margin:0 auto;position:relative;margin-top:10px;}
.img-wrapper .img-slider .img-slider-list{width:320px;position:absolute;left:30px;overflow:hidden;}
.img-wrapper .img-slider .img-slider-list ul{list-style:none;list-style-type:none;padding-left:0px;}
.img-wrapper .img-slider .img-slider-list ul li{cursor:pointer;display:inline-block;width:61px;height:80px;background-size:60px;background-position:center;border-width:1px;border-style:solid;border-color:#f6f6f6;}
.img-wrapper .img-slider .img-slider-list ul li.cur{border-color:#000;}
.pic-slider-down, .pic-slider-up{width:29px;height:79px;display:block;position:absolute;cursor:pointer;text-align:center;}
.img-wrapper .img-slider .pic-slider-up{left:0px;}
.img-wrapper .img-slider .pic-slider-down{right:0px;}
.arrow-out {
position: relative;
border-width: 10px 10px 10px 0;
border-color: transparent #999 transparent transparent;
border-style: solid;
_border-style: dotted solid dotted dotted;
margin-top: 30px;
}
.arrow-out, .arrow-in {
display: inline-block;
font-size: 0;
width: 0;
height: 0;
}
.arrow-in {
position: absolute;
right: -10px;
top: -5px;
_top: -6px;
border-width: 5px 5px 5px 0;
border-color: transparent #fcfafd transparent transparent;
border-style: solid;
_border-style: dotted solid dotted dotted;
}
.pic-slider-down .arrow-in {
left: -10px;
border-width: 5px 0 5px 5px;
border-color: transparent transparent transparent #fcfafd;
border-style: solid;
_border-style: dotted dotted dotted solid;
}
.pic-slider-down .arrow-out {
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent #999;
border-style: solid;
_border-style: dotted dotted dotted solid;
}
.switchable-first, .switchable-last {
cursor: default;
}

.sku-info{width:700px;float:left;margin-left:20px;}
.sku-title{border-bottom:1px dotted #b3b3b3;}
.sku-title .sku-brand{color:#777578;font-size:12px;}
.sku-title .sku-name{font-size:16px;color:#4e4e4e;margin-top:5px;}

.sku-price{margin:20px 10px;}
.pbox-price {
display: inline-block;
font-size: 30px;
color: #f43499;
}
.pbox-yen {
font-size: 20px;
}
.pbox-off {
position: relative;
top: -3px;
font-size: 12px;
color: #fff;
background-color: gray;
border-radius: 3px;
padding: 0 5px;
margin: 0 7px 0 3px;
}
.pbox-market {
padding: 0 20px 0 10px;
color: gray;
}
.i-freight {
position: relative;
padding: 1px;
margin-left: -1px;
}
.pi-attr-box{height:300px;}
.pi-attr-box dt {
float: left;
font-size: 12px;
width: 62px;
text-align: left;
color: gray;
line-height: 25px;
}
.freight-con {
font-size: 14px;
color: #333;
line-height: 21px;
line-height: 19px\0;
line-height: 20px\9;
position: relative;
padding: 2px 0;
}
.i-size {
padding: 11px 11px 1px;
position: relative;
z-index: 3;
margin-left: -10px;
zoom: 1;
}
.i-notice-msg {
position: absolute;
height: 26px;
line-height: 26px;
bottom: -26px;
right: 0;
padding-left: 20px;
color: #f43499;
background-position: -500px -250px;
display: none;
}
.size-list {
float: left;
max-width: 360px;
_width: 360px;
position: relative;
zoom: 1;
}
.sli-disabled {
background-color: #d9d9d9;
color: #999;
border: 1px solid #ccc;
cursor: default;
padding: 1px 10px;
}
.size-list-item {
float: left;
position: relative;
min-width: 52px;
max-width: 304px;
_width: 52px;
height: 26px;
font-size: 12px;
padding: 1px 10px;
margin: 0 10px 10px 0;
border: 1px solid #b5b5b5;
text-align: center;
line-height: 26px;
cursor: pointer;
background-color: #fff;
}
.size-list-item-name {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
max-width: 304px;
display: inline-block;
}
.size-table-tip {
position: relative;
color: #f10180;
}
.size-table {
float: left;
padding-left: 18px;
width: 70px;
_width: 72px;
background-position: -500px -650px;
color: #f10180;
cursor: pointer;
margin-top: 5px;
font-size: 13px;
}
.size-table, .size-aide .win-close, .i-warning, .i-checkSize, .i-addSize {
background: url(http://s2.vipstatic.com/img/te/detail_imgs_new.png?02f9f4c0) no-repeat;
}
.size-list ul{padding-left:0px;list-style:none;list-style-type:none;}
.i-num {
padding: 11px 10px;
position: relative;
margin: -1px 0 0 -10px;
padding-bottom: 10px;
}
.sli-selected {
border: 2px solid #f43499;
height: 26px;
color: #f43499;
padding: 0 9px;
_overflow: hidden;
}
.sli-selected .i-select {
display: block;
background-position: -50px -100px;
}
.i-notice-msg {
position: absolute;
height: 26px;
line-height: 26px;
bottom: -26px;
right: 0;
padding-left: 20px;
color: #f43499;
background-position: -500px -250px;
display: none;
}
.num-box {
float: left;
position: relative;
height: 30px;
border: 1px solid #b3b3b3;
}
.i-select, .sli-chance-icon, .i-notice-msg, .num-reduce, .num-add, .btn-msg, .btn-cart, .pso-submit, .pi-promise-item, .sas-item-close, .sa-close, .selector-txt, .share-sn, .share-tx, .share-kj, .share-rr, .share-db, .share-kx, .i-customer, .i-phone, .i-arrow-down, .iv-close, .btn-waitlist, .btn-popup-waitlist, .waitlist-pop-close, .busy-pop-close {
background: url(http://s2.vipstatic.com/img/te/detail_imgs_new.png?02f9f4c0) no-repeat;
}
.i-select {
position: absolute;
bottom: 0;
right: 0;
width: 17px;
height: 16px;
background-position: -50px -100px;
display: none;
}
.num-reduce {
background-position: -100px -150px;
cursor: pointer;
}
.num-reduce-disabled {
background-position: 0 -150px;
cursor: default;
}
.num-add {
background-position: -50px -150px;
cursor: pointer;
}
.num-add-disabled {
background-position: -150px -150px;
cursor: default;
}
.num-input {
text-align: center;
line-height: 28px;
width: 28px;
background-color: #fff;
}
.num-reduce, .num-input, .num-add {
float: left;
width: 24px;
height: 28px;
}
.color {
overflow: hidden;
padding-top: 12px;
}
.color-list {
float: left;
width: 340px;
}
.color-list ul{list-style:none;list-style-type:none;padding-left:0px;}
.color-list-item {
float: left;
width: 38px;
height: 47px;
_height: 48px;
position: relative;
margin: 0 15px 9px 0;
}
.color-list-item a {
display: inline-block;
width: 38px;
height: 47px;
padding: 1px;
border: 1px solid #b5b5b5;
}
.color-list .selected {
padding: 0;
border: 2px solid #f43499;
}
.fl {
float: left;
display: inline;
}
.color-list .selected .i-select {
display: block;
bottom: 2px;
right: 2px;
z-index: 2;
}
.color-list .selected .cli-sold-out {
top: 2px;
left: 2px;
width: 34px;
height: 43px;
line-height: 43px;
}
.cli-sold-out {
position: absolute;
top: 0;
left: 0;
width: 38px;
height: 47px;
line-height: 47px;
background-color: #adabac;
color: #fefcff;
text-align: center;
filter: alpha(opacity=90);
-moz-opacity: .9;
opacity: .9;
}
.other {
padding: 3px 0 15px;
}
.other-box {
float: left;
text-align: left;
min-height: 25px;
line-height: 25px;
font-size: 12px;
color: gray;
}
.i-button {
min-height: 35px;
_height: 35px;
}
.button-box {
float: left;
width: 200px;
height: 50px;
overflow: hidden;
}
.btn-cart {
width: 200px;
height: 50px;
border: 0;
background-position: 0 -200px;
cursor: pointer;
}
.pi-promise-box {
background-color: #f3f1f4;
height: 48px;
overflow: hidden;
_width: 550px;
}
.pi-promise-list {
width: 600px;
overflow: hidden;
zoom: 1;
}
.new-guest .pi-promise-item {
margin: 10px 25px 0;
}
.item-percent {
background-position: -500px 0;
}
.pi-promise-item {
float: left;
padding: 4px 0 5px 35px;
font-size: 16px;
color: gray;
margin: 10px 34px 0;
_display: inline;
}
.item-7day {
background-position: -500px -150px;
}
.item-free {
background-position: -500px -200px;
}
.sku-info .share-list{margin:40px 0px 20px 0px;height:30px;}

.input-group-addon.captcha{width:90px;padding:0px;background-size:contain;background-position:center;background-repeat:no-repeat;}

.oauth-group{margin-top:50px;}
.oauth-link{display:block;width:40px;height:40px;margin:0 auto;}
.icon-qq,.icon-weibo,.icon-alipay,.icon-wechat{width:40px;height:40px;display:inline-block;background-image:url("../images/icon_oauth.png");background-repeat:no-repeat;}
.icon-qq{background-position:0 0;}
.icon-weibo{background-position:-45px 0;}
.icon-alipay{background-position:-90px 0;}
.icon-wechat{background-position:-135px 0;}
.oauth-link:hover .icon-qq{background-position:0 -45px;}
.oauth-link:hover .icon-weibo{background-position:-45px -45px;}
.oauth-link:hover .icon-alipay{background-position:-90px -45px;}
.oauth-link:hover .icon-wechat{background-position:-135px -45px;}


















