@CHARSET "UTF-8";
#header{height:85px;}

body{background:#f6f6f6;}

.navigation{list-style:none;list-style-type:none;}
.navigation:after{content:'';display:block;clear:both;}
.navigation li{float:left;height:40px;}
.navigation li.cur{background-color:#f8285c;}
.navigation li a{display:block;width:104px;font-size:14px;line-height:40px;color:#fff;text-align:center;}

.main-nav{background-color:#2a142b;}

.category-nav ul{list-style:none;list-style-type:none;}
.category-nav ul li{float:left;margin-left:120px;}
.category-nav ul li a span{display:block;height:75px;width:70px;background:url('http://s.juancdn.com/juanpi/images/zhe/zhe_icons.png') no-repeat;background-position:0 0;}
.category-nav ul li a:hover span{background-position:0 -75px;}
.category-nav ul li.cur a span{background-position:0 -150px;}
.category-nav ul li .category-name{width:70px;height:20px;text-align:center;margin-top:10px;}
.category-nav ul li.cur .category-name{background-color:#f8285c;color:#fff;border-radius:10px;}
.category-nav ul li ul{float:right;margin-top:20px;margin-left:80px;padding-left:0px;}
.category-nav ul li ul li{float:left;width:60px;margin:0 0 10px 0;text-align:center;}
.category-nav ul li ul li.cur{background-color:#f8285c;color:#fff;border-radius:10px;}
.category-nav ul li ul li a{display:block;width:60px;height:20px;}

#main{width:1220px;margin:20px auto;}

.product-list{width:1220px;}
.product-item{width:285px;background:#FFF;float:left;margin:0 18px 18px 0;border:#f6f6f6 solid 1px;}
.product-item .list-good{position:relative;width:285px;height:auto;z-index:1;}
.product-item .pic-img{height: 285px;overflow: hidden;text-align: center;width: 285px;display: table-cell;vertical-align: middle;}
.product-item .new-icon{background: url(../images/list/new.png) no-repeat 0 0;height: 0;overflow: hidden;padding-top: 37px;width: 37px;position: absolute;top: 0;left: 0;z-index: 15;}
.product-item .good-title{font-size:13px;width: 270px;height: 18px;line-height: 18px;overflow: hidden;margin: 10px 10px 10px 5px;position: relative;font-weight: normal;color: #333;}
.product-item .good-title span.sold{display: block;color: #bbb;position: absolute;top: 0;right: 0;background: #fff;width: 60px;height: 18px;text-align: right;}
.product-item .good-price{width:280px;height: 48px;line-height: 40px;position: relative;padding: 0 10px 0px 5px;background: #fff;z-index: 10;}
.product-item .list-good.buy .good-price .price-current{#ff3366;}
.product-item .good-price .btn{padding:0px;}
.product-item .good-price .price-current{font-size: 40px;font-family: Arial;float:left;color:#ff3366;}
.product-item .good-price .price-current em{font-size: 14px;font-family: "微软雅黑","verdana";vertical-align: 1px;margin-left: 1px;}
.product-item .good-price .des-other{margin: 2px 0 0 5px;height: 40px;line-height: 18px;display:block;float:left;}
.product-item .good-price .des-other strong{width: auto;height: 16px;display: block;}
.product-item .good-price .des-other .price-old{color: #bbb;text-decoration: line-through;font-size: 14px;}
.product-item .good-price .des-other .price-old em{font-family: "微软雅黑","verdana";font-size: 12px;}
.product-item .good-price .des-other .discount{color: #bbb;vertical-align: top;}
.product-item .good-price .btn.buy, .goods-list li .good-price .btn.gone{right: 0;}
.product-item .good-price .btn{position: absolute;top: 11px;right: 10px;}
.product-item .good-price .btn a{font-family: "宋体";display: block;text-align: center;font-size: 14px;cursor: pointer;color: #f8285c;width: 70px;height: 30px;line-height: 30px;overflow: hidden;}
.product-item .good-price .btn a .j-icon{background-position: right -54px;}
.product-item .good-price .btn a em{display: inline;float: left;width: 15px;height: 15px;margin: 8px -4px 0 12px;margin: 7px -4px 0 12px \9;_margin: 7px -4px 0 12px;vertical-align: -2px;background: url(http://s.juancdn.com/juanpi/images/list/list-total.png) no-repeat;}
.product-item .my-like{display: none;width: 26px;height: 26px;border: 1px solid #f4f4f4;background: #f4f4f4;border-radius: 15px;position: absolute;top: 10px;right: 10px;cursor: pointer;z-index: 15;}
.product-item .my-like .like-ico{background-position: 0 0;margin-top: -5px;margin-left: -7px;}
.product-item .my-like i{background-position: -26px 0;width: 14px;height: 11px;position: absolute;top: 50%;left: 50%;background: url(http://s.juancdn.com/juanpi/images/list/my-like.png) no-repeat;_background: url(http://s.juancdn.com/juanpi/images/list/my-like.gif) no-repeat;}
.product-item .new-icon{background: url(http://s.juancdn.com/juanpi/images/list/new.png) no-repeat 0 0;height: 0;overflow: hidden;padding-top: 37px;width: 37px;position: absolute;top: 0;left: 0;z-index: 15;}
.my-like:hover .like-ico{background-position:0 -72px;}
.my-like:hover .like-ico.l-active{background-position:0 -89px;}
.product-item:hover{border:#ebebeb solid 1px;}
.product-item:hover .my-like{display:block;}
.pic-img img{max-width:285px;max-height:285px;}

.page {
    padding: 0 0 45px;
	padding-top:30px;
	*margin-top:50px;
    _margin-top:50px;
    clear: both;
    overflow: hidden;
    text-align: center;
}
.page div{margin: 0 auto;}

.page a,.page span,.page i{
	display:inline-block;
	/*float:left;*/
	background: none repeat scroll 0 0 #FFF;
	margin-left:1px;
    padding:10px 15px;
    overflow: hidden;
    color:#919191;
	font-size:14px;
	font-weight:bold;
	border-right:none;
	-moz-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
	-webkit-box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
	box-shadow: 1px 1px 0px rgba(204, 204, 204, 0.7);
}
.page a.pg-next{border-radius:0 20px 20px 0;}
.page a.pg-next:hover{cursor:pointer;}
.page span.pg-prev{color:#bbb; font-weight:normal; background:#fff; border-radius: 20px 0 0 20px;}
.page span.pg-next{ border-radius:0 20px 20px 0; background:#fff;  color:#bbb; font-weight:normal;}
.page a.pg-prev{background:#FFFFFF; border-radius: 20px 0 0 20px;}
.page span {
    background: #ff3366;
	border: medium none;
	color: #fff;
	font-weight: bold;
}

.page a:hover{
	text-decoration:none;
	color:#fff;
	background:#ff3366;
}

.page i{
    color: #919191
}










