@charset "utf-8";
body{ background:#f6f6f6;}
.u-yen{font-family: "微软雅黑","verdana";
    padding: 0 2px;}
/*order-address by mumian start*/
.my-juanpi .order-address{border-bottom:0;}
.order-address{width:100%;height:auto;border-bottom:1px solid #e2e2e2;padding-bottom:30px;}
.confirm-order h2{margin:20px 0;font-size:20px; font-family:"微软雅黑","宋体"; color:#333; font-weight:normal;line-height: 20px;overflow:hidden;}
.confirm-order h2 .go_back{color:#39c;font-size:14px;font-weight:normal;font-family:"宋体";}
.confirm-order h2 .go_back:hover{text-decoration:underline;}
.confirm-order h2 .manage_links{margin-left:15px;color:#39c;font-size:12px;font-weight:normal;font-family:"宋体";}
.confirm-order h2 .write_links{color:#f38f38;}
.confirm-order h2 .write_links span{margin-left:5px;}
.order-address .list{clear: both; overflow: hidden;margin:0 auto;width:953px;}
.order-address .list li{ width: 260px;height: 140px;background:url(http://s.juancdn.com/juanpi/images/sale/add-address-bg.gif) no-repeat 0 -140px; float: left; margin:0 33px 33px 0;padding:10px 20px;position: relative;}
.order-address .list li .mb10{height:40px;overflow:hidden;}
.order-address .list li .check{ float:left; margin:12px 5px 0 0;}
.order-address .list li:hover{background-position:0 0;}
.order-address .list li.cur{ background-position:0 0;}
.order-address .list li.cur .del{display:none;}
.order-address .list li .fl span{ margin-right:5px;}
.order-address .list li a.modify{color:#39c;margin-left:10px;}
.order-address .list li a.add{color:#39c;position:absolute;top:60px;left:50%;margin-left:-40px;width:80px;}
.order-address .list li a.add .add_cur{width:14px;height:14px;}
/*order-address by mumian end*/
.new-address{height:auto; overflow:hidden;}
/*panel-box by mumain start*/
.panel-box li {
    clear: both;
    display: block;
    padding-bottom:15px;
    height:auto;
}
.panel-box li:after{  clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;}
.panel-box li label {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: right;
    width: 80px;
}
.panel-box li label.normal{ float:none; width:auto; display:inline; margin:0 10px 0 2px;}
.panel-box li .right_modify{ height:26px; line-height:26px; float:left; display:block; margin-right:5px;}
.panel-box li .right_modify .links{ color:#0289cd; font-size:12px;}
.panel-box li .text{
    border-top:#aaa solid 1px;
    border-left:#aaa solid 1px;
    border-right:#ddd solid 1px;
    border-bottom:#ddd solid 1px;
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
    color:#535353;
    margin-right:5px;
}
.panel-box li select {
    float: left;
    font-size: 12px;
    padding:6px 5px;
    margin-right:5px;
    color:#535353;
}
.panel-box li .import {
    color:#F00;
    line-height:28px;
    font-family:"宋体";
    margin-right:5px;
    font-size:12px;
}
.panel-box li p {
    color: #999;
    line-height: 22px;
    font-size:12px;
}
.panel-box li .s12{color:#999; float:left;}
.panel-box li .s13{ color:#ff3838; float:left;}
.panel-box .smt{
    float: left;
    display:block;
    text-align:center;
    line-height:30px;
    font-size:14px;
    float:left;
    color:#fff;
    cursor: pointer;width:75px; height:30px;line-height:28px;border-radius:3px;}
.panel-box .smt1{background:#ff2e5f; border:0 none; margin-right:24px;}
.panel-box .smt2{background:#f1f1f1;border:#e3e3e3 solid 1px;color:#666;}
.panel-box .smt1:hover{background:#fe517e;}
.panel-box .smt2:hover{background:#f9f9f9;}
.panel-box .title{ float:left; color:#333;}
#adr{ font-size:12px;overflow:hidden;background:#f2f2f2; padding:20px 20px 0 20px;}
.my-juanpi #adr {background: none repeat scroll 0 0 #f2f2f2;margin: 0 auto 30px;width: 880px;}
#adr label{ width:75px; text-align:right;}
#adr input{ font-size:12px;}
#adr label.set{ width:110px; text-align:left; color:#0289cd;}
#adr .set-check{ float:left; display:inline;  height:26px; line-height:26px; margin-right:5px;}
/*panel-box by mumain start*/
/*tbl-main by mumain start*/
.tbl-main td .price{ font-size:14px;}
.confirm-order .tbl-main td .total_price{color:#ff3366;padding-right:20px;}
.bgc{line-height:28px;}
.bgc span{color:#999;float:left !important;}
.bgc .postage{color:#f36; font-size:20px;}
.tbl-main td .message .hd,.tbl-main td .message .inputmask{ float:left;}
.tbl-main td .message .inputmask{ position:relative; width:440px;}
.tbl-main td .message.other{color:#999;}
.tbl-main td .message.other .inputmask{width:95%;}
.tbl-main td .message .inputmask label{display:block;line-height:30px;background:#f1f1f1;padding-left:10px;}
.tbl-main td .message .txt{ height: 28px;
    line-height:24px;
    overflow: auto;
    resize: none;
    width: 420px;border-style:solid;border-width:1px;border-top-color:#c3c3c3; border-left-color:#d1d1d1;border-bottom-color:#e7e7e7;border-right-color:#e8e8e8;overflow:hidden; padding:0 5px;}
.tbl-main td .message .inputmask.active .txt{ height:40px;}
.tbl-main td .message .inputmask.active label{ display:none;}
.pay-box2 {margin-top:10px;margin-bottom:10px;}
.pay-box2 .real-pay{padding-right:30px;}
.confirm-order .tbl-main td .real-pay .total_price{padding-right:0}
/*this is order-payment by mumian start*/
.order-payment,.receipt-info{border-bottom:#e2e2e2 solid 1px;padding-bottom:30px;}
.order-payment{padding-bottom:30px;margin-bottom:30px;}
.no-border{border-bottom:none;}
.receipt-info{padding-bottom:20px;}
.order-payment .pay-method{ height:auto; overflow:hidden; margin:10px 0 0 30px;}
.pay-method ul{height: 45px; overflow: hidden;}
.order-payment .pay-method li{ float:left;margin-right:30px;margin-left:5px;}
.order-payment .pay-method li a{ display:block; cursor:pointer;}
.order-payment .pay-method li a label{ display:block;}
.order-payment .pay-method li.cur .img{border-color:#f36;}
.order-payment .pay-method .check{ float:left; display:inline; margin:10px 10px 0 0;}
.order-payment .pay-method .img{ float:left;width:168px;height:40px;border:#ccc solid 1px;text-align:center;}
.order-payment .pay-method .img:hover{border-color:#f36;}
.order-payment .pay-method .img img{margin-top:7px;}
/*this is pay-box*/
.main .pay-box{ border:#ff3366 solid 2px; padding:20px; background:#f8f8f8;margin-top:20px;} 
.main .pay-box p{ text-align:right; line-height:30px;}
.main .pay-box p .real-pay{ color:#ff3366; font-family:"微软雅黑","宋体"; font-size:30px;}
.main .pay-box p.other{ line-height:20px;}
.main .pay-box p .ck{ vertical-align:-2px; margin-right:5px;}
.main .pay-box p a{ color:#0289cd;}
.main .pay-btn{overflow: hidden;clear: both;}
.main .pay-btn a{ background:#ff3366; width:180px; height:50px; display:block; text-align:center; line-height:50px; font-size:20px; font-family:"微软雅黑","宋体"; color:#fff; float:right;margin-bottom: 20px;}
.main .pay-btn a:hover{ text-decoration:none; background:#ff517d;}
.main .pay-btn .pay_msg_error{ float:left; margin-top:15px; color:#ff3838; width:750px; text-align:right;}
.main .pay-btn.disable a{ background:#ababab; cursor:default;}
.confirm-order .pay-btn, .confirm-order .pay-box3{padding-right:30px;}
/*this is order-payment by mumian end*/
/*this is state-info by mumian start*/
.main .state-info { width:780px; height:auto;margin:0 auto; overflow:hidden; color:#333;padding:30px 0 20px;border-top:#e2e2e2 solid 1px;}
.main .state-info p{line-height:30px;}
.main .state-info .tips .time{ color:#ff3838; font-size:16px; vertical-align:-2px; margin:0 3px;}
.main .state-info .tips .confirm{ display:inline-block; border:#e25f07 solid 1px; background:#ff6600; height:28px; line-height:28px; color:#fff; padding:0 10px; margin:0 5px;border-radius: 3px;}
.main .state-info .tips .confirm:hover{ text-decoration:none;background:#ff7e00;}
.main .state-info .tips1-other a{ color:#0289cd;}

.main .state-info .tips2 .tips1-line{ margin-left:300px;}
.main .payment-finish{ width:800px; height:auto;margin:0 auto;padding:40px 90px 60px;} 
.main .payment-finish div.fl{ width:580px; height:auto; overflow:hidden;}
.main .payment-finish .icon-ok{ background:url(http://s.juancdn.com/juanpi/images/total/new-btn-total.gif?0916) no-repeat right bottom; display:inline-block; height:64px; width:64px; float:left;}
.main .payment-finish .txt-all{ float:left; margin-left:10px; width:506px;}
.main .payment-finish .txt-all p{ line-height:30px;}
.main .payment-finish .txt-all p .ok{ font-size:20px; font-family:"微软雅黑","宋体";}
.main .payment-finish .txt-all p .ok a{ color:#0289cd;}
.main .payment-finish .txt-all p .normal-a{ color:#0289cd; margin-left:5px;}
.main .payment-finish .txt-all p .number{ font-size:20px; font-family:Arial; color:#ff6600; margin:0 3px; vertical-align:-2px;}
.main .payment-finish .txt-all p .number em{ font-size:18px; font-family:"微软雅黑","verdana";}
.main .payment-finish .txt-all .share-box{ display:inline-block;}
.main .payment-finish .txt-all .share-box div,.main .payment-finish .txt-all .share-box .txt{ float:left;}
.main .jp-promise{ width:160px; height:auto; overflow:hidden;}
.main .jp-promise p.title{ font-size:16px; font-family:"微软雅黑","宋体";}
.main .jp-promise ul{ width:160px; height:auto; padding:10px 0; border:#f0f0f0 solid 1px;box-shadow:1px 2px 2px #c6c6c6; margin-top:10px; background:#fff;}
.main .jp-promise ul li{ line-height:26px; padding:0 20px;}
.main .jp-promise ul li i{ display:inline-block; background:url(http://s.juancdn.com/juanpi/images/sale/promise.gif?0916) no-repeat; width:20px; height:19px; vertical-align:middle; margin-right:10px;}
/*this is state-info by mumian end*/
/*this is address-info by mumian start*/
.address-info p{ line-height:36px;}
.address-info p span{ margin-right:30px;}
/*this is address-info by mumian end*/
/*this is goods-box by mumian start*/
.goods-box{ width:980px; height:auto; overflow:hidden;}
.goods-box dl{ width:980px; height:auto; overflow:hidden; margin-bottom:15px;}
.goods-box dl dd{ float:left; margin-right:40px;}
/*this is goods-box by mumian end*/
/*tb2-main by mumain start*/
.tb2-main { width:980px; border:#e2e2e2 solid 1px; margin-bottom:20px;}
.tb2-main th {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    font-weight: normal;
    height:40px;
    text-align: center;
    background:#f8f8f8;
}
.tb2-main td {
    border-bottom: 1px solid #e2e2e2;
    padding:20px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    background:#fff;
}
.tb2-main td.cell-center {
    text-align: center;
}
.tb2-main td .pic,.tb2-main td .title{ float:left; display:inline;}
.tb2-main td .pic{ width:60px; height:60px; overflow:hidden;}
.tb2-main td .title{ width:170px;  line-height:20px; margin-left:5px;}
.tb2-main td .title a{color:#0289cd;}
.tb2-main td .count{color:#ff3366; font-size:16px;}
.tb2-main td p.o{ color:#666; font-size:14px; text-decoration:line-through; font-family:Arial;}
.tb2-main td p.n{ color:#ff3838;font-size:14px;font-family:Arial;}
.tb2-main td p.freight{ font-size:16px;}
.tb2-main td .message .hd,.tb2-main td .message .inputmask{ float:left;}
.tb2-main td .message .inputmask{width:440px;}
.tb2-main td .message .txt{ height: 30px;
    line-height: 30px;
    overflow: auto;
    resize: none;
    width: 440px; border:#b9b9b9 solid 1px;}
/*logistics-info by mumain start*/
.logistics-info{}
.logistics-info .wl-box{width:940px; height:auto; border:#e2e2e2 solid 1px; background:#f8f8f8; padding:20px; overflow:hidden; float:left;}
.logistics-info p{ line-height:28px;}
.logistics-info .wl-data{line-height:28px;}
.logistics-info .wl-data label,.logistics-info .wl-data .wl-result{ float:left;}
.logistics-info .wl-data label{color:#999;}
.logistics-info .wl-data .wl-result dd{ clear:both;}
.logistics-info .wl-data .wl-result .go-wl{ color:#0289cd;}
.logistics-info .wl-data .wl-result .wl-time{ margin-right:5px; width:120px; float:left;}
.logistics-info .wl-data .wl-result .wl-text{float:left; width:730px;}
.logistics-info .wl-data .wl-result .special{ color:#ff5500}
.logistics-info .wl-data .wl-result .msg{ background:#fff1dc; padding:0 5px;width:540px; height:30px; overflow:hidden;}
.logistics-info .wl-data .wl-result .msg .tips{ background:url(http://s.juancdn.com/juanpi/images/user/icon-tips.gif?0916) no-repeat left center; padding-left:20px; height:30px;}
/*logistics-info by mumian end*/
/*this is btn-receipt by mumian*/
.btn-receipt a{background: none repeat scroll 0 0 #ee4e22;
    color: #fff;
    display: block;
    float: right;
    font-family: "微软雅黑","宋体";
    font-size:16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;}
.btn-receipt a:hover{ background:#ff6633; text-decoration:none;}
/*this is help-box by mumian*/
.help-box{background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #e2e2e2;
    float: left;
    height: auto;
    overflow: hidden;
    padding: 20px;
    width: 940px;}
.help-box label{ font-size:14px; margin-bottom:5px; display:block;}
.help-box p{ line-height:28px;}
.help-box p .go-see{ color:#0289cd;}
.help-box p .go-service{ display:inline-block; width:75px; height:30px; background:url(http://s.juancdn.com/juanpi/images/total/new-btn-total.gif?0916) no-repeat 0 -213px; text-align:center; color:#666; line-height:30px; margin:0 3px;}
.help-box p .go-service:hover{ background-position:-76px -213px; text-decoration:none;}
/*guess-list by mumian start*/
.guess-list{ border:#e2e2e2 solid 1px; width:978px; margin-top:30px;float:left;}
.guess-list h3{ font-size:14px; height:38px; line-height:38px; border-bottom:#e2e2e2 solid 1px; background:#f8f8f8; padding:0 20px; font-weight:normal;}
.guess-list ul{ margin:20px 20px 0; width:1000px;}
.guess-list ul li{ float:left; margin-right:26px; width:213px; height:213px; border:#e2e2e2 solid 1px; position:relative; margin-bottom:26px;}
/*guess-list by mumian start*/
.guess-list ul li a{ display:block;}
.guess-list ul li a:hover{ text-decoration:none;}
.guess-list ul li a img{ width:213px;}
.guess-list ul li a .des-bg{ position:absolute; bottom:0; left:0; width:213px; height:30px;opacity:0.8;filter:alpha(opacity=80); background:#fff;}
.guess-list ul li a .des-txt{ width:193px; height:30px; line-height:30px; position:absolute; bottom:0; left:0; padding:0 10px;}
.guess-list ul li a .des-txt .title{ color:#333; width:140px; overflow:hidden; height:30px;}
.guess-list ul li a .des-txt .price{ color:#ff6600; font-size:16px; font-family:Arial; width:53px; text-align:right; overflow:hidden;}
.guess-list ul li a .des-txt .price em{ font-size:14px;font-family:"微软雅黑","宋体";}

/*cash voucher*/
.cv-list ul{width: 980px; clear: both; overflow: hidden;margin:0;padding: 0}
.cv-list ul li{float: left;width: 240px;padding:0 30px; margin:0 40px 40px 0; background: url("http://s.juancdn.com/juanpi/images/user/cv-unuse.gif") no-repeat 0px 0px; height: 151px;color: #fff; position: relative;}
.cv-list ul li.timeout{background: url("http://s.juancdn.com/juanpi/images/user/cv-used.gif") no-repeat 0px 0px;}
.used-tag{background: url("http://s.juancdn.com/juanpi/images/user/used-tag.gif") no-repeat 0px 0px;height: 103px; width: 152px;position: absolute;top:30px;left: 65px; display: none}
.cv-list ul li.used .used-tag{display: block;}
.cv-list ul li.slt{background: url("http://s.juancdn.com/juanpi/images/user/cv-slt.gif") no-repeat 0px 0px;}
.cv-list ul li.mr0{margin:0;}
.cv-value{font-size: 30px; font-family: "微软雅黑"; height: 45px;margin-top:22px;line-height: 45px;float: left;}
.cv-value span{font-size: 40px; font-family: "arial";display: inline-block;padding-left: 5px;}
.cv-kinds{float: right;background: #52bbbc;height: 22px;line-height: 22px;width: 70px;text-align: center;font-size: 12px;margin-top: 32px;}
.cv-list ul li.timeout .cv-kinds{background: #b2b2b2;}
.cv-details{float: left; width: 240px;margin-top: 24px;}
.cv-details p{font-size: 12px;line-height: 1.8;}
.cv-list ul li.slt .cv-kinds{background: #39a9aa;}

.cv-box{background:#eee;float:left;width:100%;}
.cv-box .activate{margin:0 30px 20px;}
.cv-box .cv-list ul{width: 980px; height:150px; overflow-y:auto;}
.cv-box .cv-list ul li{cursor:pointer;width:960px; height: 30px; line-height:30px;padding: 0 0 0 20px;margin:0;background:none;color:#333;}
.cv-box .cash-voucher{width: 980px;margin:0 auto;position:relative; }
.cv-box .cv-con{padding: 0 30px;width: 240px;}
.cv-box .cv-list ul li:hover{background-color:#e2e2e2;}
.cv-box .cv-list ul li.slt{background: #e2e2e2;font-weight:bold;color:#333;}
.cv-box .cv-list ul li.un-use .cv-value{color:#cccccc;}
.cv-box .cv-value{margin-top:0px;width:164px;float: left;color:#ff2d5e;font-weight:bold; font-size:12px;height:30px; line-height:30px;}
.cv-box .cv-type{width:125px;float:left;}
.cv-box .cv-adv{width:150px;float:left;}
.cv-box .cv-time{width:200px;float:left;}
.cv-box .cv-status{width:260px; float:left;}
.cv-box .rdslt{width:36px;float:left;}
.cv-box .hdttl{margin-left:20px;color:#333333; font-weight:bold;height:30px;line-height:30px;}
.cv-box .hdttl .cv-value{color:#333333;}
.no-cv{/*background:url(http://s.juancdn.com/juanpi/images/user/no_cv_bg.jpg) no-repeat 0px 0;*/padding:40px 0; height:16px; margin: 0 auto;width:452px; height:100px;}
.no-cv span{display:block; margin: 0 auto;width:200px;color:#333333; font-weight:bold; background:url(http://s.juancdn.com/juanpi/images/user/tips-icon.gif) no-repeat 0 -102px;padding-left:25px;}
.cv-box .no-cv{background:none;height:auto;}
ul.cv-menu{margin:0 auto; overflow: hidden;clear: both; background: #fff;width: 100%;border: 1px solid #e2e2e2}
ul.cv-menu li{float: left;height:40px;line-height:40px;}
.cv-rule{float: right;margin-right: 20px;background:url(http://s.juancdn.com/juanpi/images/user/cv-icon01.gif) no-repeat 0px 15px; padding-left:16px;height:40px;line-height:40px;}
ul.cv-menu li.cv-rule{float: right;height:40px;line-height:40px;}
ul.cv-menu li.my-cv,.cv-tab{height:26px;line-height: 26px;}
ul.cv-menu li.my-cv{width: 136px;display: block;color: #ff3366;font-weight: bold; font-size: 14px;text-align: center;border-right: 1px dashed #cccccc;margin-top:7px;}
li.my-cv a:hover{text-decoration: underline;}
.cv-tab li{margin-left: 30px;}
.cv-tab li a:hover{text-decoration: underline;}
.cv-tab li span{padding-left: 5px;font-weight: bold; color: #ff3366;}
.activate{margin:50px 0;clear: both;overflow: hidden;}
.activate input{width: 435px; height: 38px; border: 1px solid #e2e2e2;background: #f9f9f9; float: left; display: block;padding-left:3px;}
.activate span {color: #333333; font-size: 14px; font-weight: bold; float: left; display: block;height: 42px; line-height: 42px; padding-right: 10px;}
.activate-button{ background: url("http://s.juancdn.com/juanpi/images/user/btn-bg.jpg") no-repeat 0px 0px; height: 40px; line-height: 40px;text-align: center;color: #fff;float: left;width: 130px;margin: 0 0 0 10px;font-weight: bold;cursor: pointer;}
.cv-list ul li.timeout{background: url("http://s.juancdn.com/juanpi/images/user/cv-used.gif") no-repeat 0px 0px;}
.used-tag{background: url("http://s.juancdn.com/juanpi/images/user/used-tag.gif") no-repeat 0px 0px;height: 103px; width: 152px;position: absolute;top:30px;left: 65px; display: none}
.cv-list ul li.used .used-tag{display: block;}
.cv-details{float: left; width: 240px;margin-top: 24px;}
.cv-details p{font-size: 12px;line-height: 1.8;}
.cv-pop{position: relative;width: 400px;margin: 20px auto;}
.cv-pop span{margin-bottom: 20px;background: url("http://s.juancdn.com/juanpi/images/user/tips-icon.gif") no-repeat;display: block;height: 16px; line-height:16px;text-align: center;font-size: 14px; font-weight: bold;}
.st-failed span{ background-position: 140px -104px;}
.st-timeout span{ background-position: 132px -104px;}
.st-success span{ background-position: 140px 0px;}
.cv-pop p{text-align: center;margin-bottom: 20px;}
.cv-pop p a{text-decoration:underline;color:#3399cc;}
.cv-pop .btn-close{margin: 0 auto;width:74px; height: 28px;text-align: center;line-height: 28px; font-size: 14px;border: 1px solid #e2e2e2;cursor: pointer;}
.cv-pop .btn-view{margin: 0 auto;width: 124px; height: 28px;text-align: center;line-height: 28px; font-size: 14px; border: 1px solid #e2e2e2;}
.btn-close a,.btn-view a{color:#333333;background: #f1f1f1;display: block; height: 25px;line-height: 25px; }
.btn-close a:hover,.btn-view a:hover{background: #f9f9f9;text-decoration: none;}
/*order*/
.order-lists ul.cv-menu li.cv-rule{border-left: 1px solid #e2e2e2;background: none;font-weight: bold;font-size: 14px;width:105px;text-align: center;}
.order-infolist{border: 1px solid #e1e1e1;height: auto;width: 978px;}
.order-info-hd{border-bottom: 1px solid #e1e1e1; height: 30px; line-height: 30px;padding:0 20px;width: 938px;background-color: #fff;}
.order-infolist ul{overflow: hidden; clear: both;width:auto;height:auto;background-color:#fff;height:86px;}
.order-infolist ul li{float: left;padding:0px 0 18px;height:70px;text-align:center;}
.order-infolist ul.normal{height:30px;line-height:30px;}
.order-infolist ul.normal li{padding:0;height:30px;}
.oi-goods{width: 276px;}
.order-infolist ul li.oi-other,.oi-count{width:105px;border-right:#e2e2e2 solid 1px;padding-top: 3px;}
.oi-count .all{font-size:26px;color:#f36;margin-top:-5px;}
.oi-count .all em{font-size:14px;}
.oi-count .quan{color:#999;margin-top: 5px;}
.oi-count .quan em{color:#fa0;}
.olh-count{width:100px;}
.olh-count,.olh-other{text-align:center;}
.oi-price,.olh-price{width:126px; text-align: center;}
.order-infolist ul li.oi-price{font-size:14px;color:#666;}
.oi-price .price{color:#f36;font-size:16px;}
.oi-price .price i{font-family:"微软雅黑","宋体";font-size:12px;}
.oi-price .add{font-size:12px;color:#666;margin:2px;}
.oi-num,.olh-num{width:80px; border-right: 1px solid #e1e1e1;overflow: hidden;text-align: center; }
.oi-price-paid,.olh-price-paid{width:120px; border-right: 1px solid #e1e1e1;overflow: hidden;text-align: center;}
.oi-status,.olh-status{width:109px; border-right: 1px solid #e1e1e1;overflow: hidden;text-align: center;}
.order-infolist ul li.oi-status .wait-pay{font-weight:bold;color:#f36;display: block;margin-bottom: 7px;margin-top: 5px;}
.order-infolist ul li.oi-status .wait-send,.order-infolist ul li.oi-status .sended{color:#333;margin-top: 5px;margin-bottom: 7px;display: block;}
.order-info-hd span{display: inline-block;}
.order-no{padding: 0 30px;color: #39c;}
.pay-timeout{float: right;*margin-top: -30px;}
.order-info a{color: #3399cc;}
.order-info-hd a{float: right;margin-left: 20px;}
.order-info-hd a.kf{float: none;margin-left: 0;}
.oi-goods .aimg{float: left;margin-top: 4px;}
.oi-goods .con{width:180px; float:left;overflow:hidden;margin-left:10px;text-align: left;}
.oi-goods p{line-height: 2;}
.oi-goods .table-box{color:#666;}
.oi-goods .table-box span,.oi-goods .table-box a{float:left;}
.oi-goods .table-box span.name{color:#999;}
.oi-goods .table-box a{margin:3px 0 0 4px;}
.oi-price em{text-decoration:line-through;}
.oi-price span{color: #f36;}
.oi-price-paid span {font-size:16px; color: #f36;}
.oi-button,.olh-button{width:113px; text-align: center;margin-top: 3px;}
.oi-button img{display: block;margin:0 auto;}
.oi-button a{display: block;text-align: center}
.oi-button a.btn-pay{border-radius:3px;background:#fa0;width: 75px; height: 30px;line-height: 30px; text-align: center; color: #fff;margin:0 auto;}
.oi-button a.btn-pay:hover{background:#fb0;text-decoration: none;}
ul.olh{width: 980px; height: 40px; line-height: 40px;overflow: hidden; clear: both;}
ul.olh li{float: left;}
.olh-goods{width: 227px; margin-left:20px; text-align: left;padding-left: 47px;}
.olh-other,.olh-count{width:100px;}
/*adong*/
.re{position: relative;}
.ab{position: absolute;}
.mr{margin-left:9px; margin-right:9px;}
.deal-info{padding: 50px 0 30px 99px; background-color:#ffffff;border-bottom:#e2e2e2 solid 1px;}
.deal-info .state-img{width:50px;height:auto;}
.state-content{color: #000;}
.state-content .state{margin:10px 0 25px; font-size: 14px;font-weight:bold;}
.state-content .state span{color:#f36;}
.state-content .contact{color:#333;font-size:12px;background:#f1f1f1;border:#e2e2e2 solid 1px;width:78px;height:28px;line-height:28px;text-align:center;margin:5px 0 0 20px;}
.old_list{margin:20px 0 20px 30px;}
.old_list li{float:left;margin:0 20px 20px;width:235px;}
.old_list .pic{width:60px;height:60px;background:#f1f1f1;margin-right:10px;}
.old_list .detail{width:165px;}
.old_list .detail .title{margin-bottom:5px;}
.old_list .detail .title a{color:#666;}
.old_list .detail p.size{color:#999;}
.state-content .contact:hover{color:#f36;}
.state-content .con1{margin-bottom: 28px; font-size: 12px;font-family: "宋体"; }
.state-content .con1 .tips .blue_2{font-size:14px;}
.pay-type{line-height:50px;}
.pay-type .choice{position:relative;height:50px;width:130px;display:block;}
.pay-type .choice .on{height:50px;width:130px;position:relative;cursor:pointer;}
.pay-type .choice .on img{margin-top:10px;}
.pay-type .choice .on .arrow{position:absolute;top:15px;right:0;background:url(http://s.juancdn.com/juanpi/images/sale/pay-cur.gif) no-repeat 0 -14px;width:22px;height:11px;}
.pay-type .choice dl{position:absolute;top:50px;left:0;border:#e2e2e2 solid 1px;border-bottom:none;display:none;z-index:10;}
.pay-type .choice:hover dl{display:block;}
.pay-type .choice:hover .arrow{background-position:0 0;}
.pay-type .choice dd{width:128px;border-bottom:#e2e2e2 solid 1px;height:50px;background:#fff;text-align:center;line-height:50px;}
.pay-type .choice dd img{margin-top:10px;}
.state-content>a{width: 104px;height: 33px;background-color:#ff2d5e;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius: 2px;display: block;font-size: 14px;color: #fff;line-height: 33px;text-align: center;}
.state-content>a:hover{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;text-decoration:none;}
.state-content .share{line-height: 30px;}
.state-content .share a{display: inline-block;}
/*deal-pay start*/
.deal-pay{background:#fff;padding:40px 60px;height:auto;overflow:hidden;}
.deal-pay .go_pay{
 background: none repeat scroll 0 0 #fa0;
    color: #fff;
    font-family: "微软雅黑","宋体";
    font-size: 20px;
    text-align: center;
    width: 180px;height:50px;line-height:50px;border-radius:3px;}
.deal-pay .go_pay:hover{background:#fb0;text-decoration:none;}
.deal-pay .go_pay.confirm{background:#09f;}
.deal-pay .go_pay.confirm:hover{background:#3bf;}
.wait_pay{color:#333;font-size:14px;margin-right:10px;}
.wait_pay  span{font-size:26px;color:#f36;vertical-align:-2px;}
.wait_pay  span em{font-size:12px;font-family:"微软雅黑","verdana";}
/*deal-pay end*/
.twocode img{margin-top: -16px;margin-right: 85px;}
.con1 p{line-height: 30px;}
.con1 .price{font-size: 12px;color: #ff3366;font-family: "微软雅黑","verdana";}
.con1 i{font-style: normal;font-size: 22px;font-family:"Arial";color: #ff3366;}
.con1 a{color: #3399cc}
.con1 b{font-weight: normal;}
.youlike{border-top: 1px solid #000;}
.youlike p{margin: -14px auto 0; width: 142px;display:block;background-color: #fff;text-align: center;font-size: 18px;}
.youlike ul{width: 100%;}
.youlike ul li{float: left; width: 23%;margin-top: 15px;}
.youlike ul li .goods{width: 100%; color:#807f7f;}
.youlike ul li .goods img{width: 230px;display: block;height:230px;}
.youlike ul li .goods span{padding: 0 10px; bottom:10px;right: 12px; height: 30px;display: block;background-color: #fff;text-align: center;font-size: 14px;font-family:"微软雅黑","verdana";-moz-border-radius:14px; -webkit-border-radius:14px; border-radius: 14px;}
.youlike ul li .goods b{font-size: 20px;font-weight: normal;}
.youlike ul li .goods a:hover{color: #807f7f;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
#tm-qzone{background: url(http://s.juancdn.com/juanpi/images/sale/q-zone.gif);width:27px;height: 27px;}
#tm-tsina{background: url(http://s.juancdn.com/juanpi/images/sale/weibo.gif);width:27px;height: 27px;}
#tm-tqq{background: url(http://s.juancdn.com/juanpi/images/sale/qq.gif);width:27px;height: 27px;}
.state-content #share-box a{margin: 0; float: none; padding: 0;vertical-align: top;}
.hot_price{ position: absolute; top: 187px; right: 6px; padding: 0 15px; background: #fff; border-radius: 20px; opacity: 0.8;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); }
.hot_price .hot_yang{font-size: 14px; font-family: "微软雅黑"; }
.hot_price .hot_num{font-family: "Arial"; color: #666666; line-height: 30px; font-size: 20px;}
.order-address .list li .fl .slice-border {display:block; border-bottom:1px solid #e2e2e2;padding-bottom:10px;margin-bottom:8px;width:220px;color:#333;}
.order-address .list li .fl .street {font-weight: normal;display: block; height:40px; overflow: hidden;}
.order-address .list li .fl .province {height: 20px; overflow: hidden;}
.order-address .list li .fl .mb5 {height: 40px; overflow: hidden;}
.order-address .list li .del{position:absolute;bottom:10px;right:10px;}
.slt-icon{background: url(http://s.juancdn.com/juanpi/images/sale/slt-icon.gif) no-repeat 0 0; width:30px; height:30px; display:none;}
.cur .slt-icon{display:block; bottom:5px; right:5px; position:absolute;}
.default-add{color:#fff;position: absolute;top:0;right:0;width: 63px; height: 20px; text-align: center; background-color: #ababab;line-height: 20px;opacity: 0.5;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); }
.adv-use{ position: absolute; top:155px; color:#333; text-align:center;width: 300px;}
.adv-use span{color:#ff3366;}
#alert_dlt .alert_content{padding: 30px;width:290px;}
#alert_dlt .alert_top{width:350px; background-color: #fff;}
.popbox-btn{margin:0 auto;width: 212px;}
.popbox-btn span{display: inline-block;background-color: #ff2d5e;height: 28px; width: 74px; line-height: 28px;margin: 0 15px;color: #fff;border:1px solid #dc0138;text-align: center;}
.popbox-btn span:hover{background-color: #ff517d;cursor: pointer;}
.popbox-btn span.btn-cancel{ background-color: #f1f1f1;color:#333;border:1px solid #e2e2e2;}
.popbox-btn span.btn-cancel:hover{background-color: #fff;}
.confirm-order{background:#fff;margin-top:10px;padding:5px 30px 10px;}
.my-juanpi .confirm-order{padding:10px 0 0 0;}
.coupon_used{color:#ff3366;padding-right:10px;}
.col-name .amount{width:180px;}
.area-postcode{display:none;}
.my-juanpi .confirm-order .order-address .list{width:953px;}
/*order-details*/
.pg-order-details{width:980px;background-color:#fff; color: #333;margin-top: 10px;}
.pg-order-details h2{color:#333; font-family:"微软雅黑";}
.pg-order-details h2{font-size:20px;line-height:20px;height:20px;padding: 0; margin: 0;}
.pg-order-details .order-step-box, .pg-order-details .info-details{padding:15px 38px;width:904px;border-bottom:1px solid #e2e2e2; }
.pg-order-details .order-step-box .step-box{padding: 0;border: none;margin: 40px 0 50px 120px;}
.pg-order-details .od-info{background-color: #f6f6f6; width: 800px; margin: 0 auto; padding:30px 0 30px 0; font-size: 14px;}
.pg-order-details .od-info .od-status{background: url("http://s.juancdn.com/juanpi/images/user/tips-icon.gif") no-repeat; font-size:16px; font-weight: bold; margin-left: 250px; padding-left:28px; margin-bottom: 20px;}
.pg-order-details .od-info .checked{background-position: 0 -100px;}
.pg-order-details .od-info .success{background-position: 0 4px;}
.pg-order-details .od-info .paid{background-position: 0 -126px;}
.pg-order-details .od-info p.close-type{line-height: 1.6;font-size: 12px;margin: 10px 0;}
.pg-order-details .od-info .checked-con{padding-left: 278px; height: 30px; line-height: 30px;}
.pg-order-details .od-info .checked-con a.to-pay{display: inline-block; background:  url("http://s.juancdn.com/juanpi/images/user/btn-order-bg.jpg") no-repeat 0 0; width: 75px; height: 30px; overflow: hidden;line-height: 30px;font-size: 12px; color: #fff; text-align: center; font-weight: bold;text-decoration: none;}
.pg-order-details .od-info .checked-con a.to-pay:hover{background-position: 0 -30px;}
a.get-goods{display: inline-block; background:#0099ff;border-radius: 3px; width: 75px; height: 30px; overflow: hidden;line-height: 30px;font-size: 12px; color: #fff; text-align: center; font-weight: bold;text-decoration: none;}
a.get-goods:hover{background:#3bf;text-decoration: none;}
.pg-order-details .od-info .checked-con em{line-height: 30px;height: 30px;padding-right: 10px;}
.pg-order-details .od-info .checked-con a, .pg-order-details .od-info .checked-con em{float: left;}
.pg-order-details .od-info .checked-con span{color: #ff2d5e; font-weight: bold;}
.pg-order-details h3{font-size: 14px; border-bottom:2px solid #ff3366; width: 60px; text-align: center;font-weight: bold;padding-bottom: 3px;}
.info-details dl dt{height: 32px;}
.info-details dl dd{height: 32px; line-height: 32px;}
.info-details dl dd span, .table-common01 td.fc{color: #666; }
.od-goods-list{padding-top: 20px;}
.od-goods-list h3{margin-bottom: 20px;margin-left: 38px;}
.table-common01{ border-collapse:collapse; width:100%;}
.table-common01 th{border: none; background-color:#eee; height: 40px; line-height: 40px; color: #666;}
.table-common01 td{padding: 20px 0; text-align: center; border-bottom: 1px dashed #e2e2e2;}
.table-common01 td .pic {height: 60px;overflow: hidden;width: 60px; margin-left: 20px; margin-right:8px;}
.table-common01 td .pic, .table-common01 td .title {display: inline;float: left;}
.table-common01 td p{font-size: 16px; line-height: 1;font-family: Arial;}
.table-common01 td em { color: #666;text-decoration: line-through;}
.pg-order-details .post-fee{padding-left: 838px; margin-top: 20px; margin-bottom: 3px;}
.pg-order-details .sum-fee{padding-left: 783px; }
.pg-order-details .post-fee span, .pg-order-details .sum-fee span{font-family: "宋体";}
.pg-order-details .post-fee em, .pg-order-details .sum-fee em{font-family: "arial";}
.pg-order-details .post-fee, .pg-order-details .sum-fee{font-size:14px;font-family: "微软雅黑";}
.real-pay-details{text-align: right; padding-bottom: 100px;}
.real-pay-details i{color: #ff3366;}
.real-pay-details strong{font-size: 14px; padding-left: 30px;}
.real-pay-details .real-pay{color: #ff3366; font-size: 40px; font-family: "arial";padding-right: 31px;}
.real-pay-details .real-pay em{ font-family: "微软雅黑"; font-size: 20px;}
.info-details dl dd.pdr35 span{padding-right: 35px; }
.info-details dl dd.pdr35{height: 25px;line-height: 25px;color: #666;}
.info-details dl dd.query-result,.info-details dl dd p.query-result,.info-details .query-result span{color: #ff6600;}
.pg-order-details a{color: #3399cc;}
.info-details strong{padding-left: 30px;}
.pdl278{padding-left: 278px;}
.done-time{padding-top: 53px;font-weight: normal; color: #999; font-family: "宋体";}
.bgf6,.bgf6 p.title{background: #f6f6f6;}
.pay-timeout span.s, .pay-timeout span.m,.pay-timeout span.h, .pay-timeout span.d{color:#ff3366; fon-weight:bold;padding:0 5px;}
/*orders-pay start by mumian*/
.orders-pay{background:#fff;padding:30px 0;}
.orders-pay .pay-txt{border-bottom:#e2e2e2 solid 1px;padding:20px 60px;}
/*orders-pay end by mumian*/
/*this is alert_pay start*/
#alert_pay .alert_top{background:#fff;}
#alert_pay .alert_content{padding:0 35px 30px;width:410px;}
#alert_pay .alert_content .tips{font-size:14px;font-weight:bold;padding:20px 0;border-bottom:#e2e2e2 solid 1px;width:410px;float:left;margin-bottom:30px;}
#alert_pay .alert_content .tips b{color:#f36;}
#alert_pay .button_01{font-size:12px;width:98px;}
#alert_pay .alert_content .normal{margin:0 auto 15px;width:270px;}
#alert_pay .alert_content .normal span{margin-left:5px;}
/*this is alert_pay end*/
/*this is order-state by mumian start*/
.deal-info.order-state{padding:20px 0 0 0;}
.deal-info.order-state .tips{margin-bottom:15px;line-height:26px;}
.deal-info.order-state .tips b.gray_6,.deal-info.order-state .tips span.blue_2,.deal-info.order-state .tips span.state{display:block;float:left;display:inline;}
.deal-info.order-state .tips .state{color:#f36;font-size:16px;font-weight:bold;}
.deal-info.order-state .tips .state em{font-family:"微软雅黑","";font-size:14px;}
.deal-info.order-state .cancel{margin-top:10px;color:#999;font-size:14px;}
.deal-info.order-state .cancel a{color:#39c;}
/*this is order-state by mumian end*/
/*this is orders-tip*/
.deal-info.order-state.order-type{padding-bottom:20px;}
.deal-info.order-state.order-type .deal-pay{padding:0;overflow:visible;}
.deal-info.order-state.order-type .time-all{color:#999;margin-top:15px;}
.deal-info.order-state.order-type .time-all b{color:#f36;margin:0 5px;}
/*this is order-infor start*/
.order-infor{border-bottom: 1px solid #e2e2e2;
    height: auto;
    padding-bottom: 30px;
    width: 100%;}
.order-infor .address-infor{color:#333;line-height:30px;}
.order-infor .address-infor label{color:#999;}
.order-infor .address-infor a{color:#39c;}
/*this is order-infor end*/
/*this is order-track start*/
.order-track{width:100%;height:auto;overflow:hidden;}
/*this is order-track end*/
/*this is order-track*/
.order-track .step-box{display:block;top:0;margin-left:80px;height:80px;position:relative;}
.order-track .step-box .flow-steps{background-position:0 -131px;}
.order-track .step-box .flow-steps.steps_2{background-position:0 -79px;}
.order-track .step-box .flow-steps.steps_3{background-position:0 -181px;}
.order-track .step-box .flow-steps.steps_4{background-position:0 -105px;}
.order-track .step-box.other .flow-steps{width:262px;}
.order-track .step-box.other{width:500px;}
.order-track .step-box.other ul{right:-107px;}
.order-track .step-box.other .flow-steps{background-position:0 -156px;}
.order-track .step-box ul{right:-95px;height:50px;bottom:5px;}
.order-track .step-box ul li{width:238px;}
.order-track .step-box ul li .time{color:#999;}
/*this is my-order-list by mumian start*/
.my-order-list{padding:0 0 0 20px;background: #fff;}
/*this is my-order-list by mumian end*/
/*this is w1200 start*/
.w1200 .order-address .list{width:1173px;}
/*this is w1200 end*/

/*0306 adong*/
.my-juanpi .order-infolist .oi-other a{color: #999;cursor: pointer;text-decoration: none;}
.my-juanpi .order-infolist .oi-other p{color: #999;}
.my-juanpi .order-infolist .oi-other a:hover{color: #f36;}
.mes-board{padding: 18px 0; border-top: 1px solid #e2e2e2;background: #fff;}
.mes-board span{display: inline-block;}
.mes-board .mes-board-title{width: 36px;margin-left: 20px;vertical-align: 19px;padding-top: 10px;}
.mes-board .mes_board_con{width: 875px;padding: 10px;background: #e2e2e2;vertical-align: top;}
.pay-timeout em{color: #f36;}
.order-time b,.order-no b{font-weight: normal;color: #999;}
.oi-goods>a{margin-top: 3px;}
.oi-status{margin-top: 2px;}
.my-order-list:nth-child(0){
    padding-top: 20px;
}