@CHARSET "UTF-8";
.context-menu{
	position:absolute;
}
.input{
	
}
.pager{
	margin: 0px;
}
.pager .page-to-jump{
	width: 20px;
	padding: 2px 4px;
}
.pager .page-to-jump.add-on{
	width: auto;
}

.loading-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #aaa;
    opacity: 0.3;
}
.loading-mask-icon{
	position: absolute;
    width: 100%;
    height: 100%;
    left: -16px;
    top: -16px;
    background: transparent url('../img/loading.gif') no-repeat center;
}